:root {
  --color_blue: rgb(67, 64, 82);
  --color_purple: rgb(37, 33, 55);
  --color_black: rgb(11, 11, 11);
  --color_red: rgb(189, 20, 20);
  --color_grey: rgb(170, 170, 170);
  --color_offWhite: rgb(245, 245, 245);
  --color_beige: rgb(226, 226, 233);
  --color_white: rgb(255, 255, 255);
  --color_green: rgb(134, 165, 130);
  --color_salmon: rgb(230, 113, 113);
  --color_orange: rgb(252, 122, 87);
  --color_yellow: rgb(252, 196, 48);

  --gutter: 2rem;
  --gutter-xs: calc(var(--gutter)/2);
  --gutter-xl: calc(var(--gutter)*2);

  --desktop: 1380px;
  --laptop: 1024px;
  --tablet: 768px;
  --mobile: 520px;
  
  --path-img: '/images/';
  --path-font: '/font/';

}

html {
  font-size: 59%;
  color: var(--color_blue);
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--color_offWhite);
  font-size: 1.5rem;
  line-height: 1.4;
  position: relative;
  letter-spacing: .5px;
}
* {
  box-sizing: border-box;
  font-family: "Sora", Arial, sans-serif;
  font-weight: 400;
  cursor: none;
}
main {
  position: relative;
}
main::before {
  content: "";
  z-index: -1;
  height: 100%;
  width: 1px;
  top: 0;
  background-color: #ccc;
  opacity: .2;
  position: absolute;
  left: 0;
  box-shadow: 200px 0 0 #ccc, 400px 0 0 #ccc, 600px 0 0 #ccc, 800px 0 0 #ccc, 1000px 0 0 #ccc, 1200px 0 0 #ccc, 1400px 0 0 #ccc, 1600px 0 0 #ccc, 1800px 0 0 #ccc;
}
section {
  padding: 10rem 0;
}
section:first-of-type {
  padding-top: 20rem;
}
section:last-of-type {
  padding-bottom: 20rem;
}

@media (max-width: var(--laptop)) {
  section {
    padding: 5rem 0; 
  }
  section:first-of-type {
    padding-top: 10rem;
  }
  section:last-of-type {
    padding-bottom: 10rem;
  }
}
p {
  margin: var(--gutter-xs) 0 0 0;
}
p:first-child {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
i {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.1;
  display: inline-flex;
  align-items: center;
}
i span {
  margin-right: 5px;
  text-transform: uppercase;
}
h1, h2, h3 {
  font-weight: bold;
  margin: var(--gutter) 0;
  line-height: 1.2;
}
h1:last-child, h2:last-child, h3:last-child {
  margin-bottom: 0;
}
h1:first-child, h2:first-child, h3:first-child {
  margin-top: 0;
}
h1 {
  font-size: 7rem;
}
@media (max-width: var(--laptop)) {
  h1 {
    font-size: 6rem;
  }
}
@media (max-width: var(--mobile)) {
  h1 {
    font-size: 4rem;
  }
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 1.6rem;
}
figure {
  margin: 0;
}
figure img {
  width: 100%;
  display: block;
}
b {
  font-weight: bold;
  position: relative;
  transition: all 0.2s ease-in-out .2s;
  white-space: nowrap;
}
b::before {
  position: absolute;
  content: '';
  bottom: 2px;
  left: -4px;
  background-color: var(--color_salmon);
  width: calc(100% + 8px);
  height: 30%;
  transition: all .2s ease-in-out 0s;
  transform: scale3d(1, 1, 1) rotate(0deg);
  z-index: -1;
}
b:hover::before {
  transform: scale3d(1, 1, 1) rotate(-1deg);
}
video {
  opacity: .3;
}