@import './variables.module.scss';

.studio {
    padding: 5rem 0;
    position: relative;
    h2 {
        // text-transform: uppercase;
        font-size: 6rem;
    }
    aside {
        flex-wrap: wrap;
        display: flex;
        > * {
            flex: 0 1 50%;
        }
    }
}
.banner {
    
}
// .projet {
//     figure {

//     }
// }