/* sass-lint-disable selector-class-pattern */

@import './variables.module.scss';

.btn {
  padding: 1.3rem 1.5rem 1.1rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  transition: all .3s ease-in-out 0s;
  display: inline-flex;
  font-weight: bold;

  @media (max-width: var(--tablet)) {
    padding: 1rem 1rem .9rem 1rem;
    font-size: 1rem;
  }

  +.btn {
    margin-left: var(--gutter);
  }

  &:hover {
    color: var(--color_salmon);
    border-color: var(--color_salmon);

    svg {
      animation: moveRight 1s ease-in-out infinite;

      path {
        fill: var(--color_salmon);
        stroke: var(--color_salmon);
      }
    }
  }

  svg {
    margin-left: var(--gutter-xs);
    position: relative;
    left: 0;
    transition: all .3s ease-in-out;
  }
}

@each $class,
$color in $var-colorsBtn {
  .#{$class} {
    border: 2px solid $color;
    color: $color;
  }
}

.small {
  padding: 1rem 1.3rem .8rem 2rem;
  font-size: 1rem;
}

.large {
  padding: 1.8rem 3rem 1.6rem 3rem;
  font-size: 1.3rem;
}

.noborder {
  border: none;
  padding: 0;
}

.rotate {
  transform: rotate(-2deg);
}

.remove {
  background-color: var(--color_red);
  color: var(--color_white);
}

.add {
  background-color: var(--color_blue);
  color: var(--color_white);
}
