@import './variables.module.scss';

.changeMode {
  position: fixed;
  top: 23px;
  right: var(--gutter);
  width: 52px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-cyan);
  box-shadow: inset 0 0 5px 0 var(--color-black);
  z-index: 5;

  &::before,
  &::after {
    transition: all .5s ease-in-out 0s;
    content: "";
    background-color: var(--color-offWhite);
    position: absolute;
    border-radius: 50%;
    opacity: .5;
  }

  &::before {
    width: 6px;
    height: 6px;
    top: 5px;
    left: 30px;
  }


  &::after {
    width: 3px;
    height: 3px;
    top: 18px;
    left: 34px;
  }

  span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all .5s ease-in-out 0s;
    background-color: var(--color-yellow);

    &::before {
      transition: all .5s ease-in-out 0s;
      content: "";
      background-color: var(--color-offWhite);
      position: absolute;
      border-radius: 50%;
      opacity: .5;
      width: 4px;
      height: 4px;
      top: 7px;
      left: 34px;
    }

  }

  &.darkMode {
    background-color: var(--color-grey);

    &::before,
    &::after {
      opacity: 1;
    }

    &::before {
      width: 3px;
      height: 3px;
      top: 10px;
      left: 10px;
    }

    &::after {
      top: 8px;
      left: 20px;
      width: 2px;
      height: 2px;
    }

    span {
      background-color: var(--color-offWhite);
      left: 24px;

      &::before {
        top: 1px;
        background-color: var(--color-grey);
        left: -2px;
        width: 14px;
        height: 14px;
        opacity: 1;
      }

      &::after {
        transition: all .5s ease-in-out 0s;
        content: "";
        background-color: var(--color-offWhite);
        position: absolute;
        border-radius: 50%;
        opacity: 1;
        width: 2px;
        height: 2px;
        top: 12px;
        left: -8px;
      }

    }
  }
}

.container {
  width: 100%;
  max-width: var(--desktop);
  margin: auto;
  padding: 0 var(--gutter);
  position: relative;

  +.container {
    margin-top: 5rem;
  }

  @at-root {
    footer &+& {
      margin-top: 0;
    }
  }
}

.containerXs {
  width: 100%;
  max-width: var(--laptop);
  margin: auto;
}

.sectionXs {
  padding: 8rem var(--gutter);
}

.sectionXl {
  padding: 15rem var(--gutter);
}

.boxCtaXl {
  margin-top: var(--gutter-xl);
}

.boxCta {
  margin-top: var(--gutter);
}

.pLeft {
  padding-left: var(--gutter) !important;
}

.pLeftXl {
  padding-left: var(--gutter-xl) !important;
}

.pLeftXs {
  padding-left: var(--gutter-xs) !important;
}

.txtCenter {
  text-align: center;
}

.txtRight {
  text-align: right;
}

.boxRadius {
  border-radius: 10px;
}

.tag {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey);
}

@each $class,
$color in $var-colors {
  .txt_#{$class} {
    color: $color;
  }
}

@each $class,
$color in $var-colors {
  .bgc_#{$class} {
    background-color: $color;
  }
}

@for $var from 0 to 12 {
  .m#{$var} {
    margin: #{$var}rem;
  }

  .my#{$var} {
    margin-top: #{$var}rem;
    margin-bottom: #{$var}rem;
  }

  .mt#{$var} {
    margin-top: #{$var}rem;
  }

  .mb#{$var} {
    margin-bottom: #{$var}rem;
  }
}

.hide {
  display: none;
}

.mouse {
  position: fixed;
  z-index: 99;
  width: 10px;
  height: 10px;
  background-color: var(--color-salmon);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border: 1px solid var(--color-salmon);
  transition: width 0.3s ease-in-out 0s, height 0.3s ease-in-out 0s;
}

.hovered {
  .mouse {
    width: 30px;
    height: 30px;
    background: radial-gradient(var(--color-salmon) 5%, transparent 5%);
  }
}

.hoveredProject {
  .mouse {
    width: 80px;
    height: 80px;

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("/images/search-icon.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: .2;
    }
  }
}

.progressBar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: var(--color-beige);

  span {
    border-radius: 10px;
    display: block;
    height: 100%;
  }
}
