@import './variables.module.scss';

.container {
  width: 100%;
  max-width: var(--desktop);
  margin: auto;
  padding: 0 var(--gutter);
  position: relative;

  +.container {
    margin-top: 5rem;
  }

  @at-root {
    footer &+& {
      margin-top: 0;
    }
  }
}

.containerXs {
  width: 100%;
  max-width: var(--laptop);
  margin: auto;
}

.sectionXs {
  padding: 8rem var(--gutter);
}

.sectionXl {
  padding: 15rem var(--gutter);
}

.boxCtaXl {
  margin-top: var(--gutter-xl);
}

.boxCta {
  margin-top: var(--gutter);
}

.pLeft {
  padding-left: var(--gutter) !important;
}

.pLeftXl {
  padding-left: var(--gutter-xl) !important;
}

.pLeftXs {
  padding-left: var(--gutter-xs) !important;
}

.txtCenter {
  text-align: center;
}

.txtRight {
  text-align: right;
}

.bgOrange {
  background: var(--color_orange);
  // background: radial-gradient(circle, lighten(var(--color_orange), 5%) 20%, var(--color_orange) 70%);
  color: var(--color_white);

  b {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 3px;
    font-weight: normal;
  }
}

.bgBlue {
  background: var(--color_purple);
  //background: radial-gradient(circle, lighten(var(--color_purple), 5%) 20%, var(--color_purple) 70%);
  color: var(--color_white);
  padding: var(--gutter);
}

.boxRadius {
  border-radius: 10px;
}

.tag {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color_grey);
}

@each $class,
$color in $var-colors {
  .txt_#{$class} {
    color: $color;
  }
}

@each $class,
$color in $var-colors {
  .bgc_#{$class} {
    background-color: $color;
  }
}

@for $var from 0 to 12 {
  .m#{$var} {
    margin: #{$var}rem
  }

  .mt#{$var} {
    margin-top: #{$var}rem
  }

  .mb#{$var} {
    margin-bottom: #{$var}rem
  }
}

.hide {
  display: none;
}

.mouse {
  position: fixed;
  z-index: 99;
  width: 10px;
  height: 10px;
  background-color: var(--color_salmon);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border: 1px solid var(--color_salmon);
  transition: width 0.3s ease-in-out 0s, height 0.3s ease-in-out 0s;
}

.hovered {
  .mouse {
    width: 30px;
    height: 30px;
    background: radial-gradient(rgb(230, 113, 113) 5%, transparent 5%);
  }
}

.hoveredProject {
  .mouse {
    width: 80px;
    height: 80px;

    &::before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("/images/search-icon.png");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: .2;
    }
  }
}

.progressBar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: var(--color_beige);

  span {
    border-radius: 10px;
    display: block;
    height: 100%;
  }
}
