@import './variables.module.scss';

.footer {
  background-color: var(--bg-footer);
  padding-bottom: 5rem;
  padding-top: 5rem;
  border-top: 1px solid var(--color-darkgrey);

  p {
    font-size: 1.2rem;
    color: var(--color-grey);
  }

  .grid {
    @media (max-width: var(--tablet)) {
      flex-wrap: wrap;
      padding-top: 0;
    }

    >* {
      flex: 1;
      padding: 0 var(--gutter-xs);

      @media (max-width: var(--tablet)) {
        &:nth-child(n-2) {
          margin-top: var(--gutter-xl);
        }
      }

      >p {
        margin-bottom: var(--gutter-xs);

        &:first-child {
          color: var(--color-white);
          font-size: 1.5rem;
        }
      }

      &:first-child,
      &:last-child {
        flex: 2;

        @media (max-width: var(--tablet)) {
          flex: 2 1 100%;
        }
      }

      &:first-child {
        p {

          &.currentYear {
            font-size: 1rem;
          }
        }
      }
    }

    .logo {
      width: 100px;
    }
  }

  .contact {

    div {
      margin-top: 5px;

      p {
        font-size: 1.2rem;
        color: var(--color-grey);
      }

      a {
        margin-top: var(--gutter-xs);
      }
    }
  }
}
