@import './variables.module.scss';

.heroBanner {
  padding-top: 15rem;
  background: var(--bg-color);
  color: var(--content-color);

  .title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      color: var(--color-grey);
    }
  }

  .logo {
    width: 12rem;
    transition: all .5s ease-in-out 0s;

    @media (max-width: var(--mobile)) {
      width: 7rem;
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  position: relative;

  // aside {
  //   position: absolute;
  //   bottom: var(--gutter);
  //   left: var(--gutter);
  //   z-index: 1;
  //   padding: var(--gutter-xl);
  //   background-color: var(--color-offWhite);
  //   border-radius: 10px;
  //   width: 100%;
  //   max-width: 40rem;
  //   box-shadow: 5px 5px 10px rgba(rgb(67, 64, 82), 40%);

  //   @media (max-width: var(--laptop)) {
  //     display: none;
  //   }

  //   >*+* {
  //     margin-top: var(--gutter-xl);
  //   }

  //   p {
  //     font-weight: bold;
  //     margin-bottom: var(--gutter);
  //   }

  //   .feedback {
  //     display: flex;

  //     >* {
  //       margin-right: 5px;
  //     }
  //   }

  //   .feedbackImage {
  //     width: 50px;
  //     height: 50px;
  //     overflow: hidden;
  //     border-radius: 50%;
  //     position: relative;
  //     line-height: 50px;
  //     text-align: center;
  //     background-color: var(--color-blue);
  //     color: var(--color-offWhite);
  //     font-weight: bold;

  //     img {
  //       position: absolute;
  //       top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //       width: 100%;
  //     }
  //   }

  //   .projectDetail {
  //     margin-top: var(--gutter-xs);

  //     >div:first-child {
  //       display: flex;
  //       justify-content: space-between;
  //       text-transform: uppercase;
  //       margin-bottom: 3px;

  //       * {
  //         font-size: 1rem;
  //         font-weight: bold;
  //       }
  //     }
  //   }
  // }

}

.ref {
  overflow: hidden;

  @media (max-width: var(--laptop)) {
    margin-left: 0;
  }

  .counter {
    padding: var(--gutter);
    overflow: hidden;

    >div {
      position: relative;
      display: flex;
    }
  }

  p {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: var(--gutter);
  }

  img {
    opacity: .4;
  }
}

.image {
  position: absolute;
  height: 90%;
  bottom: var(--gutter);
  left: -50%;
  transform: translateX(50%);
  z-index: 1;
}

// }

.heroBannerArticle {
  position: relative;
  overflow: hidden;

  >* {
    height: 100vh;
    display: flex;
    align-items: center;
  }

  figure {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-height: 90vh;
    max-width: 50vw;
    opacity: .7;
  }

  .article {
    color: var(--color-offWhite);

    .title {
      padding: var(--gutter-xl) var(--gutter);
      width: 100%;
      max-width: var(--tablet);

      p {
        font-size: 2rem;
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(10px)
  }

  50% {
    transform: translateY(0px)
  }

  100% {
    transform: translateY(10px)
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(4deg)
  }

  50% {
    transform: translate(-50%, -50%) rotate(0)
  }

  100% {
    transform: translate(-50%, -50%) rotate(4deg)
  }
}
