@import './variables.module.scss';


.presentation {
  p {
    padding: var(--gutter) 0;
    font-size: 4.5rem;
    line-height: 1.5;
    font-weight: 700;

    @media (max-width: var(--laptop)) {
      font-size: 3rem;
    }

    @media (max-width: var(--mobile)) {
      font-size: 2.5rem;
    }

  }
}

.services {
  .serviceContainer {
    overflow: hidden;
  }

  .serviceItems {
    display: flex;
    padding-top: 5rem;
    padding-bottom: var(--gutter);
    position: relative;
    transition: all .5s ease-in-out 0s;
    flex-wrap: wrap;

    .serviceItem a {
      padding: calc(var(--gutter) * 1.5);
      border: 1px solid var(--color-grey);
      position: relative;
      min-height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 10px;

      &:hover {

        i {
          svg path {
            fill: var(--color-salmon);
            stroke: var(--color-salmon);
          }
        }
      }

      @media (max-width: var(--tablet)) {
        overflow: hidden;
      }

      .tag {
        font-size: 1rem;
      }

      h3 {
        margin-top: var(--gutter-xs);
        margin-bottom: var(--gutter);
      }

      figure {
        position: absolute;
        top: 50%;
        right: 0;
        height: 250px;
        transform: translate(35%, -50%);

        @media (max-width: var(--tablet)) {
          display: none;
        }

        img {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}

.popup {
  // background-color: rgba($black, .5);
  padding: var(--gutter);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  >div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50vh;
    height: 100%;
    max-width: var(--mobile);
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px 0 var(--color-grey);
    padding: var(--gutter-xl);
  }
}

.disabled {
  opacity: .5;

  &:hover {
    opacity: .5 !important;
  }

  i svg path {
    fill: var(--color-grey);
    stroke: var(--color-grey);
  }
}

.projects {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--gutter-xl);
  min-height: 700px;

  .projectsList {
    position: absolute;
    bottom: var(--gutter-xl);
    left: calc(var(--gutter) * 3);
    z-index: 1;

    .projectsItem {
      line-height: 1.5;

      .active {
        font-size: 5rem;
      }
    }

    .navCarouselProject {
      margin-top: var(--gutter);
      position: absolute;
      bottom: calc(100% + #{var(--gutter)});
      left: 0;
      transform: translateY(-50%);

      .previous,
      .next {
        i {
          position: relative;
          top: 5px;
        }
      }

      .previous i {
        transform: rotate(-90deg);
      }

      .next {
        margin-left: var(--gutter);

        i {
          transform: rotate(90deg);
        }
      }
    }
  }

  .projectsPicture {
    flex: 0 1 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      background-position: center center;
      background-size: cover;
      transition: opacity .2s ease-in-out;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        top: 0;
        left: 0;
      }

      &.active {
        opacity: .8;
        visibility: visible;
      }

      .projectsTag {
        position: absolute;
        top: var(--gutter);
        right: var(--gutter);

        span {
          display: inline-block;
          background-color: var(--bg-color);
          padding: 1rem var(--gutter);
          text-transform: uppercase;
          border-radius: 50px;
          font-size: .9rem;
          letter-spacing: 1px;
          margin-left: var(--gutter-xs);

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

}

.feedback {
  .feedbackContainer {
    overflow: hidden;
    position: relative;
  }

  .feedbackItems {
    padding-top: var(--gutter-xl);
    padding-bottom: var(--gutter-xl);
    position: relative;
    transition: all .5s ease-in-out 0s;
    flex-wrap: nowrap;

    @media (max-width: var(--tablet)) {
      padding-top: var(--gutter);
      padding-bottom: var(--gutter);
    }

    .feedbackItem {
      flex: 1 0 100%;
      padding: var(--gutter);
      position: relative;
      display: flex;
      align-items: flex-start;

      .feedbackContent {
        display: table;
        margin: 0 auto;
        font-size: 2rem;
        line-height: 1.8;
        width: 100%;
        max-width: var(--tablet);
        text-align: center;
        position: relative;

        @media (max-width: var(--tablet)) {
          font-size: 1.3rem;
        }

        .feedbackWho {
          margin-top: var(--gutter);

          p {
            font-weight: bold;
            margin-top: 0;
            font-size: 1.6rem;

            &:last-child {
              color: var(--color-grey);
              font-weight: normal;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  .feedbackPrev {
    position: absolute;
    top: 50%;
    left: var(--gutter);
    transform: translateY(-50%);
  }

  .feedbackNext {
    position: absolute;
    top: 50%;
    right: var(--gutter);
    transform: translateY(-50%);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  background-color: rgba(rgb(11, 11, 11), .5);

  >div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    height: 100%;
    max-width: var(--desktop);
    width: 90%;
    border-radius: 10px;
    background-color: var(--color-offWhite);
    box-shadow: 0 0 10px 0 var(--color-grey);
    // overflow: auto;
    padding: var(--gutter-xl);
  }

  .modalClose {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: var(--color-offWhite);
    padding: 5px 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 2px solid var(--color-grey);

    span {
      font-size: 10px;
      margin-left: 5px;
    }

    &:hover {
      color: var(--color-salmon);
    }
  }
}
