@import './variables.module.scss';

.link {
  text-decoration: none;
  letter-spacing: .5px;
  position: relative;
  transition: color .3s ease-in-out 0s;
  color: var(--content-color);

  @at-root {
    header & {
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
    }
  }

  @at-root {
    footer & {
      color: var(--color-white);
      display: block;
      padding: 5px 0;
      font-size: 1.2rem;

      &:hover {
        color: var(--color-salmon);
      }
    }
  }

  &:hover {
    color: var(--color-salmon);

    &::before {
      height: 2px;
    }
  }
}
