// Define Column Grid
$nb-column-desktop : 12 !default;
$nb-column-laptop : 12 !default;
$nb-column-tablet : 6 !default;
$nb-column-mobile : 3 !default;
$ie : .01px;

$var-colorsBtn : ('white' : var(--color-beige),
  'blue' : var(--color-blue),
  'grey' : var(--color-grey),
  'cyan' : var(--color-cyan),
  'salmon' : var(--color-salmon),
  'red' : var(--color-red)) !default;


$var-colors : ('blue' : var(--color-blue),
  'salmon' : var(--color-salmon),
  'orange' : var(--color-orange),
  'offWhite' : var(--color-offWhite)) !default;
