$blue: #434052;
$purple: #252137;
$black: #0b0b0b;
$red: #bd1414;
$grey: #aaa;
$offWhite: #f5f5f5;
$beige: #E2E2E9;
$white: #fff;
$green: #86a582;
$salmon: #E67171;
$orange: #FC7A57;
$yellow: #FCC430;

$gutter: 2rem;
$gutter-xs: calc($gutter / 2);
$gutter-xl: calc($gutter * 2);

// Breakpoint
$desktop : 1380px !default;
$laptop : 1024px !default;
$tablet : 768px !default;
$mobile : 520px !default;

$path-img: '/images/';
$path-font: '/font/';

// Define Column Grid
$nb-column-desktop : 12 !default;
$nb-column-laptop : 12 !default;
$nb-column-tablet : 6 !default;
$nb-column-mobile : 3 !default;
$ie : .01px;

$var-colorsBtn : ('white' : $beige,
  'blue' : $blue,
  'red' : $red) !default;


$var-colors : ('blue' : $blue,
  'salmon' : $salmon,
  'orange' : $orange,
  'offWhite' : $offWhite) !default;

@keyframes moveRight {
  0% {
    left: 0;
  }

  50% {
    left: 3px;
  }

  100% {
    left: 0;
  }
}
