// Define Column Grid
$nb-column-desktop : 12 !default;
$nb-column-laptop : 12 !default;
$nb-column-tablet : 6 !default;
$nb-column-mobile : 3 !default;
$ie : .01px;

$var-colorsBtn : ('white' : var(--color_beige),
  'blue' : var(--color_blue),
  'red' : var(--color_red)) !default;


$var-colors : ('blue' : var(--color_blue),
  'salmon' : var(--color_salmon),
  'orange' : var(--color_orange),
  'offWhite' : var(--color_offWhite)) !default;
